body {
	background-image: url("background/hutan2d.jpg");
}
#header {
	background-color: maroon;
}
#trexx {
	width: 50px;
	margin: 10px;
}
.linko:link {
	text-decoration: none;
	font-size: 16px;
	color: white;
	margin-left: 20px;
}
.linko:visited {
	color: white;
}
.linko:hover {
	color: coral;
}
.link1:link {
	text-decoration: none;
	font-size: 16px;
	color: white;
	margin-left: 20px;
}
.link1:visited {
	color: white;
}
.link1:hover {
	color: coral;
}
#link2 {
	margin-left: 70%;
}
#top{
	margin: 80px 0px;
	background-color:#1f2d2d;
	border-radius: 20px;
	box-shadow: 10px 10px grey;
	color: white;
	width: 300px; 
	height: 800px;
}
.username{
	margin-right: 20px;
	margin-left: 250px;
}
#pixx{
	width: 200px;
	height: 200px;
	margin-top: 20px; 
}
.input{
	width: 30%;
}
